body {
  margin: 0;
  color: white;
  background-color: #000;
}
a {
  color: #ea0b8c;
}
a:hover {
  color: #c30975;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}
